.App {
  text-align: center;
}

/* Use a media query for mobile devices */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    margin: 10px;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #282c34; /* Or any color that matches your design */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  /* border: 1px solid #ccc; Add a light border */
  padding: 20px; /* Add some padding */
  margin: 20px;
  max-width: 600px; /* Set a max-width for large screens */
  width: 100%; /* Make it responsive */
  box-sizing: border-box; /* Include padding in width */
}

.container .ant-typography, 
.container .ant-typography * {
  color: white !important; /* Overrides other styles with higher specificity */
}

.ant-form-item-label label {
  color: white !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
